<h1>
  EE300
</h1>

<h3>Login</h3>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username" /></p>
  <p>Password: <input type="password" name="password" /></p>
  <p><input type="submit" value="Log in" /></p>
</form>

<p>
  Don't have an account?
  <a href="/register">Register</a> now!
</p>
